{% extends 'ez_django/shared/base.html' %}
{% load static %}

{% block head %}
    <title>{{ BLOG_NAME }}</title>
    <meta content='{{ BLOG_DESCRIPTION }}' name="description"/>
    <meta content='{{ SITE_KEYWORDS }}' name="keywords" />
    <meta property="og:title" content="{{ BLOG_NAME }}" />
    <meta property="og:url" content="{{ BASE_URL }}blog/" />
    <meta property="og:description" content="{{ BLOG_DESCRIPTION }}" />
    <meta property="og:image" content="{{ post.featured_image.file.url }} %}" />
    <meta property="og:type" content="website" />
{% endblock %}


{% block content %}
    <div class="pt-3">
        <div class="container">
            <div class="col-md-8 offset-md-2 shadow-primary p-5 mb-5" id="content-container">
                <h1>{{ BLOG_NAME }}</h1>
                {% for post in posts %}
                    <a href="/blog/{{ post.slug }}/">{{ post.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

