{% extends 'ez_django/shared/base.html' %}
{% load static %}

{% block head %}
    <title>{{ post.title }}</title>
    <meta content='{{ post.description }}' name="description"/>
    <meta content='{{ post.keywords }}' name="keywords" />
    <meta property="fb:app_id" content="{{ FB_APP_ID }}">
    <meta property="og:title" content="{{ post.title }}" />
    <meta property="og:url" content="{{ BASE_URL }}/{{ post.slug }}/" />
    <meta property="og:description" content="{{ post.description }}" />
    <meta property="og:image" content="{{ MEDIA_URL }}{{ post.featured_image.file }}" />
    <meta property="og:type" content="website" />
{% endblock %}


{% block content %}
    <div class="pt-3">
        <div class="container">
            <div class="col-md-8 offset-md-2 shadow-primary p-5 mb-5" id="content-container">
                <h1>{{ post.title }}</h1>
                <img src="{{MEDIA_URL}}{{post.featured_image.file}}" class="w-100">
                <div id="#content-container">
                    {{ post.content | safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% if BLOG_CTA %}
        <script>
            $('<div class="mt-3 alert alert-warning d-flex justify-content-center" role="alert"><p class="mb-0 pb-0">{{ BLOG_CTA_MESSAGE }} <a href="{{ BLOG_CTA_LINK }}">{{BLOG_CTA}}</a><p></div>')
            .insertAfter($("#content-container").find("p:nth-child(6)"));
        </script>
    {% endif %}
{% endblock %}