{% load staticfiles %}
{% load insert_image %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">


        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="">


        <!-- Custom Stylesheet -->
        <link rel="stylesheet" href="{% static 'ez_django/css/styles.css' %}">


        {% for snippet in boh_snippets %}
            {{ snippet.snippet|safe }}
        {% endfor %}


        {% include 'ez_django/shared/header.html' %}


        {% block head %}
        {% endblock %}


        {% for snippet in eoh_snippets %}
            {{ snippet.snippet|safe }}
        {% endfor %}
    </head>


    <body>
    {% for snippet in bob_snippets %}
        {{ snippet.snippet|safe }}
    {% endfor %}

    {% block content %}
    {% endblock %}

    {% include 'ez_django/shared/footer.html %}

    {% for snippet in eob_snippets %}
        {{ snippet.snippet|safe }}
    {% endfor %}
    </body>
</html>